* {
	padding: 10px;
}

.container {
	width: 30%;
	min-width: 372px;
	height: auto;
	margin: auto;
	text-align: center;
	box-shadow: 2px 5px 20px #DDDDDD;
}

h1 {
    color:#0000FF;
}
 
h2 {
    color:#FF0000;
}
 
table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}