html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}
.dark{
    background-color: black;
}

.moon{
    position: absolute;
    inset: 0;
}
.moon-logo{
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}

.animate-sun{
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}
.animate-moon{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    color: white;
}

.text {
    width: 100%;
    height: 50px;
    text-align: center;
}

#hour, #min, #second {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
}

p {
    font-size: 24px;
}
