* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.myTable {
    width: 200px;
    background: white;
    position: absolute;
    border: 2px solid #081118;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myTable_container {
    width: 100%;
    padding: 5px;
}